{% assign content = post.content | strip_newlines %}
{% assign link = post.link | remove: "''" %}
{% assign link = link | strip %}
{% assign video = post.video | remove: "''" %}
{% assign video = video | strip %}

{% capture category %}{{ post.categories.first }}{% endcapture %}

<div class="timeline-item is-primary">
        <div class="timeline-marker is-primary"></div>
        <div class="timeline-content">
        <p class="heading">{{ category }}</p>
        {% if content == ""  and video =="" %}
            {% if link == "" %}
                <p>{{ post.title }}</p>
            {% else %}
                <p><i><a href="{{ link }}">{{ post.title }}</a></i>
                    <i class="fas fa-external-link-square-alt" aria-hidden="true"></i></p>
    
            {% endif %}
        {% else %}   
            <p><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></p>  
        {% endif %}
    
        <p class="timeline-item-date">{{ post.date | date: "%b %Y" }}</p>
    
        
        </div>
    </div>