{% assign content = post.content | strip_newlines %}
{% capture category %}{{ post.categories.first }}{% endcapture %}

<div class="timeline-item is-primary">
        <div class="timeline-marker is-primary is-icon">
            <i class="fa fa-bookmark fa-sm"></i>
        </div>
        <div class="timeline-content">
            <p class="heading">{{ category }}</p>
        <p>{{ post.authors }} <strong>‘{{post.title}}’</strong>. {{ post.journal }} 
            {% if post.file == "" %}</p>
            {% else %}
            <a href='{{ post.file }}'>
            <img border="0" alt="PDF icon" src="images/Adobe_PDF_file_icon_32x32.png" width="26" height="26" style="vertical-align: top; ">
            </a> </p>
            {% endif %}
            <p class="timeline-item-date">{{ post.date | date_to_string }}</p>
    </div>
</div>