@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #188eac !default;


a.navbar-item.is-active{
  background-color: #bfa46b !important;
}

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: #ea4aaa;
}

.timeline-item.is-primary{
padding-bottom: 1em !important;
}

.timeline-item.is-primary:hover{
  // background-color: #ffd3d140;
  background-color: #bfa46b2e;
}



.timeline-item-date {
  opacity: 0.0;
  // -webkit-transition: all 200ms ease-in-out;
  // -moz-transition: all 200ms ease-in-out;
  // -ms-transition: all 200ms ease-in-out;
  // -o-transition: all 200ms ease-in-out;
  // transition: all 200ms ease-in-out;
}

.timeline-item.is-primary:hover .timeline-item-date {
  opacity: 1.0;
  color:grey;
}