<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cornelia</title>
    <link rel="stylesheet" href="{{ "/assets/css/timeline.css" | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
        {% include header.html %}

        <section class="hero is-large is-bold is-primary" style="background: url('https://projectcornelia.be/images/_proper/Banner.jpg') no-repeat center center; background-size: cover;">
                <div class="hero-body">
                    <div class="container">
                        <p class="title is-1">Project Cornelia</p>
                        <p>
                        <p class="subtitle is-4" style="width: 60%">is a hybrid research engine bridging art history and computer science. We study 17th-century Flemish tapestry and painting by using and developing datasets, data retrieval tools and data visualization tools. In doing so, we also try to understand and facilitate the dialog between the humanities scholar and the computer. 
                        </p>                         
                        <p class="subtitle is-5" style="width: 60%">
                        You can explore our activities and output on this page or by using the Filters tab. You can also jump directly to our live tools.
                        </p>
                    </div>
                </div>
            </section>


            
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <div class="timeline">
                    <header class="timeline-header">
                        <span class="tag is-primary" style="font-size: 0.90rem;">Now</span>
                    </header>
                    {% for post in site.posts %}
                      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                      {% if year != nyear and post.next %}
                        <header class="timeline-header">
                          <span class="tag is-primary" style="font-size: 0.90rem;" >{{ post.next.date | date: '%Y' }}</span>
                        </header>
                      {% endif %}
                      {% capture category %}{{ post.categories.first }}{% endcapture %}
                      {% assign content = post.content | strip_newlines %}

                      <!-- Define knot style and title formatting for publications -->
                      {% if category == "publication" %}
                      <div class="timeline-item is-primary">
                          <!-- <p id=timeline-item-date>{{ post.date | date_to_string }}</p> -->
                        <div class="timeline-marker is-primary is-icon">
                          <i class="fa fa-bookmark fa-sm"></i>
                        </div>
                        <div class="timeline-content">
                          <p class="heading">{{ category }}</p>
                          {{ post.authors }} <strong>‘{{post.title}}’</strong>. {{ post.journal }}
                          {% unless post.file == "" %}
                          <a href='{{ post.file }}'>
                            <img border="0" alt="PDF icon" src="images/Adobe_PDF_file_icon_32x32.png" width="26" height="26" style="vertical-align: top;                            ">
                          </a>  
                          {% endunless %}
                          </p>
                        </div>
                      </div>
                        
                      <!-- Define knot style and title formatting for infrastructure -->

                      {% elsif category contains "infrastructure" %}
                      <div class="timeline-item is-primary">
                        <div class="timeline-marker is-primary is-icon">
                          <i class="fas fa-cog fa-sm"></i>
                        </div>
                        <div class="timeline-content">
                          <p class="heading">{{ category }}</p>
                          {% if content == "" %}
                            <p>{{ post.title }}</p>
                            {% else %}  
                          <p><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></p>
                        {% endif %}

                        </div>
                      </div>


                      <!-- Define knot style and title formatting for presentations -->

                      {% elsif category contains "presentation" %}
                      <div class="timeline-item is-primary">
                        <div class="timeline-marker is-primary is-icon">
                          <i class="fas fa-microphone fa-sm"></i>
                        </div>
                        <div class="timeline-content">
                          <p class="heading">{{ category }}</p>
                          {% if content == "" %}
                            {% if post.link %}
                            <p><i><a href="{{ post.link }}">{{ post.title }}</i></a>
                            <i class="fas fa-external-link-square-alt" aria-hidden="true"></i></p>
                            {% else %}
                            <p>{{ post.title }}</p>
                            {% endif %}
                          {% else %}  
                          <p><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></p>
                          {% endif %}
                        </div>
                      </div>


                      <!-- Define knot style and title formatting for other types of post (essentially news and notes) -->

                      {% else %}
                      <div class="timeline-item is-primary">
                          <div class="timeline-marker is-primary"></div>
                          <div class="timeline-content">
                            <p class="heading">{{ category }}</p>
                            {% if content == "" %}
                            {% if post.link == blank %}
                            <p>{{ post.title }}</p>
                            {% else %}
                            <p><i><a href="{{ post.link }}">{{ post.title }}</i></a>
                              <i class="fas fa-external-link-square-alt" aria-hidden="true"></i></p>
  
                            {% endif %}
                          {% else %}   
                            <p><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></p>  
                            {% endif %}
                          </div>
                      </div>
                      {% endif %}
                    {% endfor %}
                    <header class="timeline-header">
                        {% capture year %}{{ site.posts.last.date | date: '%Y' }}{% endcapture %}
                        <span class="tag is-primary" style="font-size: 0.90rem;">{{ year }}</span>
                    </header>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p>
                    <strong class="has-text-weight-semibold">
                        <a href="https://www.npmjs.com/package/bulma-start">bulma-start@0.0.3</a>
                    </strong>
                </p>
                <p>
                    <small>
                        Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
                    </small>
                </p>

            </div>
        </div>
    </div>
</footer>



</body>
</html>
