<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cornelia</title>
    <link rel="stylesheet" href="{{ "/assets/css/timeline.css" | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
        {% include header.html %}

        <section class="hero is-large is-bold is-primary" style="background: url('https://projectcornelia.be/images/_proper/Banner.jpg') no-repeat center center; background-size: cover;">
                <div class="hero-body">
                    <div class="container">
                        <p class="title is-1">Project Cornelia</p>
                        <p>
                        <p class="subtitle is-4" style="width: 60%">is a hybrid research engine bridging art history and computer science. We study 17th-century Flemish tapestry and painting by using and developing datasets, data retrieval tools and data visualization tools. In doing so, we also try to understand and facilitate the dialog between the humanities scholar and the computer. 
                        </p>                         
                        <p class="subtitle is-5" style="width: 60%">
                        You can explore our activities and output on this page or by using the Filters tab. You can also jump directly to our live tools.
                        </p>
                    </div>
                </div>
            </section>


            
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <div class="timeline">
                    <header class="timeline-header">
                        <span class="tag is-primary" style="font-size: 0.90rem;">Now</span>
                    </header>

                    {{ content }}

                    <header class="timeline-header">
                        {% capture year %}{{ site.posts.last.date | date: '%Y' }}{% endcapture %}
                        <span class="tag is-primary" style="font-size: 0.90rem;">{{ year }}</span>
                    </header>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p>
                    <strong class="has-text-weight-semibold">
                        <a href="https://www.npmjs.com/package/bulma-start">bulma-start@0.0.3</a>
                    </strong>
                </p>
                <p>
                    <small>
                        Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
                    </small>
                </p>

            </div>
        </div>
    </div>
</footer>



</body>
</html>
