<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My first Bulma website</title>
    <link rel="stylesheet" href="{{ "/assets/css/timeline.css" | relative_url }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-medium is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-8-desktop is-offset-2-desktop">
                    <h1 class="title is-2 is-spaced">
                        Project Cornelia
                    </h1>
                    <h2 class="subtitle is-4">
                        Project Cornelia is an ongoing research project developed at the History of Art Department of
                        the University of Leuven (KU Leuven).

                        The project aims to analyze the interplay between the dynamics of 17th-century Antwerp and
                        Brussels creative communities and industries (zeroing in on painting and tapestry) on the one
                        hand, and iconographic and stylistic developments on the other.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <div class="timeline">
                    <header class="timeline-header">
                        <span class="tag is-medium is-primary">Start</span>
                    </header>
                    <div class="timeline-item is-primary">
                        <div class="timeline-marker is-primary"></div>
                        <div class="timeline-content">
                            <p class="heading">tool</p>
                            <p>Our Source-Browser is now available online</p>
                        </div>
                    </div>
                    <div class="timeline-item is-primary">
                        <div class="timeline-marker is-primary"></div>
                        <div class="timeline-content">
                            <p class="heading">community</p>
                            <p>Project Cornelia joins the Getty Institute's NA+DAH workshop.</p>
                        </div>
                    </div>
                    <header class="timeline-header">
                        <span class="tag is-primary">2017</span>
                    </header>
                    <div class="timeline-item is-danger">
                        <div class="timeline-marker is-danger is-icon">
                            <i class="fa fa-bookmark"></i>
                        </div>
                        <div class="timeline-content">
                            <p class="heading">publication</p>
                            K. Brosens, R.J. Beerens, B. Cardoso, F. Truyen. <strong>‘The Brussels guild of painters,
                            goldbeaters and stained-glass makers, 1599-1706: A prismatic analysis’</strong>. Zeitschrift
                            für Kunstgeschichte/ Journal of Art History [accepted for publication]</p>
                        </div>
                    </div>
                    <header class="timeline-header">
                        <span class="tag is-medium is-primary">End</span>
                    </header>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer has-text-centered">
    <div class="container">
        <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
                <p>
                    <strong class="has-text-weight-semibold">
                        <a href="https://www.npmjs.com/package/bulma-start">bulma-start@0.0.3</a>
                    </strong>
                </p>
                <p>
                    <small>
                        Source code licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
                    </small>
                </p>
                <p style="margin-top: 1rem;">
                    <a href="http://bulma.io">
                        <img src="made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="lib/main.js"></script>
</body>
</html>
